include README.md 
include LICENSE
include VERSION
include pyproject.toml
include setup.py
include src/pyciaaw/*.c
include src/pyciaaw/*.h
include src/pyciaaw/*.so
include src/pyciaaw/*.dylib
include src/pyciaaw/*.dll
include src/pyciaaw/*.dll.a

